

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.schedule-container {
     min-width: 800px;
}

.input-container {
     min-width: 800px;
}
 background: url('../img/cherry.jpg') no-repeat center center fixed;
 body {
       
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
   }

 table {
     border-collapse: separate;
     border-spacing: 6px;
}

.jumbotron {
     color: white;
     background-color: black;
     min-width: 800px;
}
  background-color: rgba(0,0,0,0.3);